
.modelLeft img,.modelRight img{
    width: 250px;
}
.modelLeft{
    position: relative;
}
.modelLeft .model{
    position: absolute;
}
.modelLeft .glassesStyle {
    position: absolute;
    width: 150px;
    top: 75px; 
    right: 120px;
    opacity: 0.7;
    transform: rotate(0deg);
    animation: 2s ease 0s 1 normal none running animChangeGlasses;
}

@keyframes animChangeGlasses{
    from {
        width: 0;
        transform: rotate(45deg);
        opacity:0;
    }
    to {
        width:150px;
        opacity:0.7;
        transform: rotate(0deg);

    }
}
.modelLeft .info {
    position: relative;
    width: 250px; 
    top: 200px; 
    left:318px; 
    padding-left: 15px; 
    background-color: rgba(255, 127, 0, 0.5); 
    text-align: left; 
    height: 105px;
}
.modelLeft .model .info .header {
    color: rgb(171, 130, 255); 
    font-size: 17px;
    font-weight: bold;
}
.modelLeft .model .info .description {
    font-size: 14px; 
    padding-right: 5px; 
    font-weight: 400;
}
